.menu-item {
  background: #e0e0e0;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 10px 0 rgba(0, 0, 0, 0.04);
}

.menu-item .d-flex {
  gap: 15px;
}

.menu-text .title {
  font-weight: bold;
  font-size: 18px;
}

.menu-text .desc {
  font-size: 14px;
  color: #373737;
}

.menu-text .price {
  font-size: 16px;
  color: #ff6600;
  font-weight: bold;
}

.image-box {
  width: 90px;
  height: 90px;
  background: #ffa559;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-box img.default-image {
  width: 60%;
  height: 60%;
  object-fit: contain;
  opacity: 0.6;
}

.menu-button-remove {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, #ff5733, #f39e60);
}

.menu-button-remove:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.menu-button-remove:active {
  box-shadow: none;
}

.menu-button-remove.remove {
  background: #ff4444;
  background: linear-gradient(to right, #ff4444, #ff8888);
}

.menu-button-add {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(to right, #ff6600, #ffa559);
  box-shadow: 0 4px 10px rgba(255, 102, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
