.login-container {
  margin-top: 50px;
}

.login-title {
  font-weight: bold;
  color: #333;
}

.login-form-box {
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 30px;
  min-height: 50vh;
}

.login-input {
  border-radius: 10px;
  height: 45px;
  font-size: 15px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.login-input:focus {
  border-color: #ffa500;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.login-button {
  background: linear-gradient(to right, #f96d00, #f9a602);
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.login-button:hover {
  background: linear-gradient(to right, #f98f00, #facc15);
  transform: scale(1.02);
  color: white;
}

.login-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
