.footer-css {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  border-radius: 16px 16px 0 0;
  background-color: #111;
  color: white;
  z-index: 1000;
  padding: 8px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}
/*TODO: add a dynamic color toggle for paragraphs too(JUST LIKE THE ICONS) */
p {
  color: #f7f7f7;
}
