@font-face {
  font-family: "Vazir";
  src: url("./assets/fonts/Vazirmatn-Black.woff2") format("woff2"),
    url("./assets/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "vazir", sans-serif;
}
.rtl {
  direction: rtl;
}

body,
html {
  padding: 0;
  margin: 0;
}
